$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
body {
  background: $base02;
  color: $base0;
  font-family: 'Ubuntu Mono', sans-serif;
  margin: 3em;
  min-width: 800px;
  max-width: 1920px;
  min-height: 600px;
  max-height: 1080px;
  p {
    font-size: 1.25em;
  }
  h1 {
    font-size: 2.5em;
    padding-bottom: .5em;
  }
  h2 {
    font-size: 2em;
    padding-bottom: 1em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.25;
  }
}
main {
  margin-top: 3%;
  .display {
    min-width: 80vw;
    min-height: 75vh;
    padding: 1em;
  }
  .input {
    border-top: 1px solid $base0;
    height: 45px;
    width: 100%;
    h2 {
      display: inline-block;
      padding-left: 20px;
    }
    input {
      background: $base02;
      color: $base0;
      border: none;
      font-size: 24px;
      line-height: 45px;
      padding-left: 5px;
      display: inline-block;
      width: 80%;
      @include placeholder {
        color: $base01;
      }
    }
    input:focus {
      outline: 0;
    }
  }
}
