p, a, li, span, code {
  font-size: 1.25em;
  line-height: 1.5em;
}
h1 {
  font-size: 2.5em;
  padding-bottom: 0.5em;
  font-weight: normal;
}
h2 {
  font-size: 2em;
  font-weight: normal;
  padding-bottom: 1em;
}
h3 {
  font-size: 1.5em;
  font-weight: normal;
}
h4 {
  font-size: 1.25;
  font-weight: normal;
}
body {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: #555;
  min-width: 900px;
}
.fixed-navbar {
  width: 100%;
  line-height: 50px;
  height: 50px;
  padding-top: 15px;
  position: fixed;
  top: 0px;
  background-color: #eee;
  z-index: 1;
}
.fixed-navbar ul {
  position: absolute;
  top: 5px;
  right: 50px;
}
.fixed-navbar ul li, .brand {
  display: inline-block;
}
.fixed-navbar ul li a {
  padding: 0  0 0 1.5em;
  line-height: 50px;
  height: 50px;
  color: #cd453d;
  text-decoration: none;
}
.brand {
  position: absolute;
  left: 50px;
  color: #cd453d;
  text-decoration: none;
}
header {
  height: 400px;
  max-width: 960px;
  margin: 70px auto 15px auto;
  padding: 10px 0;
  background-image: url("http://velfi.github.io/adventure/alexandria_simplified.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
header h2 {
  position: absolute;
  bottom: 1.5vw;
  right: 80px;
}
main {
  max-width: 960px;
  margin: 0 auto;
}
main section {
  margin: 0 0 1.5em 0;
  padding: 20px;
  background-color: #eee;
  box-shadow: 1px 1px 5px 1px #ccc;
  text-align: justify;
}
.ingame {
    background-color: #ccc;
    color: #852823;
    padding: 10px 20px;
    margin: 10px 0;
    box-shadow: inset 0 0 10px #bbb;
}
footer {
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}
a.fixed-navbar-anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}
